/* This CSS follows a mobile first pattern.
Desktop specific designs are found at the bottom */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background: #f0f0f0 url("images/bg.png");
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 5px 5px 10px;
  min-width: 360px;
}

img {
  border: none;
  max-width: 100%;
  display: block;
}

ul,
ol {
  font-size: 0.938em;
}

/* Colors */
.white {
  color: white !important;
}
.white a {
  color: white !important;
}
.white a:visited {
  color: white !important;
}

/* Positioning */
.text-center {
  text-align: center;
}

/* Main/content styling */
.main li {
  margin: 10px 0 10px 0;
}

.main a,
.main a:visited {
  color: #2f2f2f;
  font-weight: bold;
  text-decoration: none;
}

a,
a:visited {
  color: #2f2f2f;
  font-weight: normal;
}

.main a:hover {
  text-decoration: underline;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */
#header {
  text-align: center;
}

#header a img {
  margin: 0 auto;
}

/* Navigation */
.nav {
  border-radius: 5px;
  border: 1px #b22222 solid;
  box-shadow: 0 0 5px #888;
  background: #b22222;
  padding: 0 0.625em;
  margin-bottom: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-out;

  overflow: hidden;
  max-height: 0;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 44px;
  padding: 0 0.8em;
}

.mobile-menu span {
  font-weight: 500;
}

.primaryNav {
  display: block;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.primaryNav > li {
  margin: 0;
  width: 100%;
  width: 100vw;
  text-align: left;
}

.primaryNav > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.primaryNav a,
.primaryNav a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.8em;
}

.primaryNav a:hover,
.primaryNav a:active {
  background: #cd5c5c;
}

.socialNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
}

.socialNav a {
  display: block;
  margin: 0.2rem;
}

/* Mobile collapsing */
.menu-icon-container {
  width: 30px;
  cursor: pointer;
  margin-top: -2px;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-icon::before {
  content: "";
  margin-top: -8px;
}

.menu-icon::after {
  content: "";
  margin-top: 8px;
}

/* Allow menu to have height */
.menu.active {
  max-height: 25em;
}

.primaryNav li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Main Content */
#content {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #888;
  padding: 5px;
}

.main {
  flex-basis: 75%;
  padding: 5px;
  overflow: hidden;
}

.main #logos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main #logos a {
  flex-basis: 50%;
  justify-content: center;
  max-height: 150px;
}

.main #logos a img {
  padding: 0 13px;
  max-height: 100%;
  margin: 0 auto;
}

.main p {
  text-indent: 0;
  line-height: 150%;
  margin-top: 0;
  font-size: 0.938em;
}

.main h1 {
  font-size: 1.25em;
  font-weight: normal;
  background: #e9e9e9;
  border: 1px #cecece solid;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

.stats {
  text-align: center;
}

.sidebar {
  flex-basis: 25%;
  padding: 5px 10px 5px 5px;
}
.box .title {
  font-size: 1.25em;
  background: #e9e9e9;
  border: 1px #cecece solid;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}
.box .post {
  margin: 5px 0 5px 0;
}
.post ul {
  list-style: none;
  line-height: 110%;
  margin-top: -5px;
  line-height: 125%;
}
.post a:link {
  text-decoration: none;
  color: #2f2f2f;
}
.post a:visited {
  color: #2f2f2f;
}
.post a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  padding: 5px;
}

.flex-section {
  flex: 1;
  background-color: #d22b2b;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.flex-section h2 {
  font-size: 1.3em;
  margin: 15px 0px 5px 0px;
}
.flex-section.discord {
  background-color: #5865F2;
}
.flex-section.twitter {
  background-color: #1DA1F2;
}
.flex-section.facebook {
  background-color: #4267B2;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.sidebar li {
  margin: 3px 0 3px 0;
}

#box-affiliates .post {
  display: block;
  text-align: right;
}

#footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px;
  border: 1px #2f2f2f solid;
  box-shadow: 0 0 5px #888;
  background: #2f2f2f;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

#footer a:link {
  color: #fff;
  text-decoration: none;
  padding: 11px 5px 11px 5px;
}

#footer a:visited {
  color: #fff;
}

#footer a:hover {
  background: #555;
  color: #fff;
  padding: 11px 5px 11px 5px;
}

#footer-left {
  text-align: left;
}

#footer-center {
  text-align: center;
}

#footer-right {
  text-align: right;
}

/* Contact page */
.contact input {
  width: 30%;
  border-radius: 5px;
  border: 1px #cecece solid;
}

.contact textarea {
  width: 75.2%;
  border-radius: 5px;
  border: 1px #cecece solid;
}

.contact input, .contact textarea {
  display: block;
  margin-bottom: 15px;
}

.submit {
  width: 76%;
  height: 30px;
  border-radius: 5px;
  border: 1px #cecece solid;
  display: block;
}

/* NIWA members page */
.member-tab {
  display: none;
}

.member-tab:checked + label {
  border: 1px solid #BBBBBB;
  border-top: 2px solid #B22222;
  border-bottom: 0px solid;
  color: #555;
}

.member-tab + label {
  border: 0px solid;
  color: #BBBBBB;
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
}

.member-tab + label:hover {
  color: #B22222;
  cursor: pointer;
}

.member-tab-content {
  border-top: 1px solid #BBBBBB;
  display: none;
  padding: 10px 0px 0px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

.member {
  border-radius: 5px;
  border: 1px #cecece solid;
  background: #f0f0f0;
  margin-bottom: 10px;
  display: flex;
}

.member .logo {
  flex-basis: 30%;
  max-width: 150px;
  flex-shrink: 0;
  padding: 5px;
  border-right: 1px #cecece solid;
  text-align: center;
  margin: 0 5px;
}
.member .logo img {
  margin: 0 auto;
}

.member .description {
  width: 100%;
}

.member .links {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875em;
  background: #e9e9e9;
  border-bottom: 1px #cecece solid;
  border-radius: 0 5px 0 0;
  padding: 2px;
  margin-left: -5px;
}

.member .description p {
  text-indent: 0;
  font-size: 0.875em;
}

.member .links a:link {
  margin: 0 5px 0 5px;
}

@-moz-document url-prefix() {
  .box .title {
    margin-right: -5px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Slick carousel customizations */
.main .slick-track {
  display: flex;
  align-items: center; 
}
.main .slick-initialized .slick-slide {
  margin: 5px;
}
.carousel {
  width: 95%;
  margin: 0 auto;
}

/* Desktop-specific styles */
@media (min-width: 960px) {
  /* Navigation */
  .nav .primaryNav,
  .nav .menu {
    flex-direction: row;
    width: auto;
  }
  .menu {
    max-height: none;
  }
  .primaryNav {
    display: flex;
    justify-content: space-around;
  }

  .nav .primaryNav li {
    border-bottom: none;
    width: auto;
  }

  .nav .menu-icon-container,
  #menu-toggle,
  .mobile-menu {
    display: none;
  }

  .socialNav {
    width: auto;
  }

  /* Structure */
  #content {
    flex-direction: row;
  }

  .main #logos a {
    flex-basis: 25%;
  }

  .box .title {
    text-align: right;
  }
}
